<%= authenticity_token %>

<label>Name:<br>
  <input type="text" name="sub[name]" value="<%= @sub.name %>">
</label><br>

<label>Description:<br>
  <textarea name="sub[description]"><%= @sub.description %></textarea>
</label><br>