<h2>Edit Post</h2>

<form action="<%= post_url(@post) %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <%= render "posts/fields", post: @post %>
  <button>Publish</button>
</form>